html {
  height: 100vh;
}
#App, body {
  height: 100%;
}
#logo {
  font-size: 1vw;
  color: #7bffcd;
  margin: 0;
  padding-top: 10px;
  background: #616161;
  padding-bottom: 10px;
}

#logo pre {
  margin:0;
}

#SearchBox {
  height: 3vw;
  width: 100%;
}

#SearchBox input {
  width: calc(100% - 5vw);
  border: none;
  font-size: 1.5vw;
  margin: 0;
  padding: 0;
  margin-left: 5vw;
  color: #616161;
  margin-top: .3vw;
}

#SearchBox input:focus{
  outline:none;
}

::-webkit-input-placeholder{
  color: #d2ffee;
}
#SearchBox, #SearchBox input {
  background-color: #7bffcd;
}

#RecordsList ul {
  padding:0;
  margin-top:2vw;
}
#RecordsList li {
  list-style-type: none;
  padding-left: 5vw;
  cursor: pointer;
  font-weight: lighter;
  font-size: 1.3vw;
  position: relative;
}

#RecordsList .description {
  width: 30vw;
  display: block;
}

#RecordsList li:hover {
  background: yellow;
}

#RecordsList li.active {
  background: yellow;
  position: relative;
}
#RecordsList li .right-aligned{
  position: absolute;
  right: 0;
  top: 0;
  width: 9vw;
}
#RecordsList li .right-aligned i{
  padding-right: .3vw;
}
#RecordsList li .cost{
  width: 5vw;
  display: inline-block;
}
#RecordsList li .text{
  color:black;
}
#main-left{
  overflow: hidden;
  width: 44vw;
  vertical-align: top;
  display: inline-block;
}
#main-right{
  vertical-align: top;
  display: inline-block;
  width: 50vw;
}
#MediaPane {
}
.youtube-vids span{
  height: 23vw;
  padding-bottom: 2vh;
  display: block;
}
#media-content{
  margin: 2vw;
}
#media-content .title{
  display: block;
  font-weight: lighter;
  margin-bottom: 5px;
  font-size: 2vw;
}
#media-content .video{
  display: block;
}
.add-to-cart a{
  font-size: 5vw;
  color: black;
}
.add-to-cart a:visited{
  color:black;
}
#MediaPane .hint{
  color: #616161;
  font-size: 2vw;
  font-weight: lighter;
  width: 55vw;
  margin-top: 30vh;
  text-align: center;
  display: block;
}
